/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(http://fonts.googleapis.com/css?family=Berkshire+Swash);
@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);



.user_photo {
  height: 100px;
  border: solid white 3px;
  border-radius: 100px;
}

h1{
font-family: 'Berkshire Swash', sans-serif; /*cursive;*/
color: #3D2230;
 -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  font-feature-settings: "kern";
}

h2{
  font-family: 'Quicksand', sans-serif;
   color: #2B2015;
}
h2.timeline_title{
  font-family: 'Quicksand', sans-serif;
   color: #2B2015;
   padding: 0px;
   margin: 0px;
}

h3{
  font-family: 'Quicksand', sans-serif;
  color: #2B2015;
}
h4{
  font-family: 'Quicksand', sans-serif;
  color: #2B2015;
}
h4.year{
  font-family: 'Berkshire Swash', sans-serif; /*cursive;*/
color: #fff;
letter-spacing: 1px;
text-align: right;
}

.milestone_sections{

padding: none;
margin-left: 15px;
margin-top: 30px;
}

h5.milestone_title{
font-family: 'Quicksand', sans-serif;/*cursive;*/
color: #fff;
letter-spacing: 1px;
text-align: left;
}




ul {

  font-family: 'Quicksand', sans-serif;
    margin: 0.75em 0;
    padding: 0 1em;
    list-style: none;
}
li.triangle:before {
    content: "";
    border-color: transparent #fff;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
}



p{
  font-family: 'Quicksand', sans-serif;
}
p.edit{
  font-family: 'Quicksand', sans-serif;
  padding: 0px;
  margin: 0px;
}

nav.nav{

  font-family: 'Quicksand', sans-serif;
  color: #2B2015;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

hr.fancy-line {
    border: 0;
    height: 1px;

}
hr.fancy-line:before {
    top: -0.5em;
    height: 1em;
}
hr.fancy-line:after {
    content:'';
    height: 0.5em;
    top: 1px;
}

hr.fancy-line:before, hr.fancy-line:after {
    content: '';
    position: absolute;
    width: 100%;
}

hr.fancy-line, hr.fancy-line:before {
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(0, 0, 0, 0.1) 75%);
}

body, hr.fancy-line:after {
    background: #627F80;
}


.verticalLine {
    border-left: thick solid #ff0000;
}
/*hr.vertical-line {
width: 1px;
size: 500px;
}
*/
ul.timeline_border {
  border-left: thin rgba(255, 255, 255, 0.5);

}

ul.milestone_year {
  text-align: right;
}

li.no_decoration {
text-decoration: none;
}

.break {
  height: 175px;
}

.event_break {
height: 50px;
padding: none;
margin: none;
}

.right_milestone_col{
border-left: thin rgba(255, 255, 255, 0.5);
float: right;
text-align: left;

}
.left_milestone_col{
border-right: thin rgba(255, 255, 255, 0.5);
float: left;
text-align: right;
}

.submit_class_login{
border-radius: 150px;
color: #fff;
float: left;
}


.user_panel{

  display: inline;
  max-width: 300px;
}

.photo{
  float: left;
  margin-right: 10px;
}
.info{
  float: left;
}

img.year_image {
  height: 200px;
  width: auto;
  border: thin white 1px;
  border-radius: 100px;
}

.year-line {
border-bottom: thin solid rgba(255, 255, 255, 0.5);
}
